# Use root/example as user/password credentials
version: '3.1'

services:

  quiz-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - quiz-network


