# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_DATABASE=quiz_aleitamento
      - MYSQL_USER=quiz
      - MYSQL_PASSWORD=123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
